doctype html
html(lang='en')
  head
    title Passport Photo Tool
    style(type='text/css').
      html, body { padding: 0px; margin: 0px; width: 100%; height: 100%; }
      #div { min-height: 100%; background-color: gray; }
  body
    h1
      | Passport Photo Tool (from 
      a(href='https://travel.state.gov/content/travel/en/passports/requirements/photos.html') travel.state.gov
      | )
    object
      embed(src='https://travel.state.gov/content/dam/passports/content-page-resources/FIG_cropper.swf', width='100%', height='100%')
